/** @format */
.profile_hero > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: gray;
}
.profile_image {
  display: flex;
  align-items: center;
}
.profile_post {
  display: flex;
  gap: 30px;
  align-items: center;
}
.profile_hero {
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.profile_post > button {
  border: none;
  background-color: lightblue;
  padding: 10px;
  color: blue;
}
.profile_hero > button {
  border: 2px solid blue;
  color: blue;
}
