/** @format */

.Social_media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.empty_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid darkgray;
  background-color: white;
  z-index: 1;
  position: relative;
  top: 70px;
}
.media_main {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  padding: 30px;
  gap: 40px;

  justify-content: center;
}
.media_button {
  display: flex;
  justify-content: space-evenly;
  gap: 100%;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: white;
}
h2 {
  font-size: 17px;
}
.media_button > button {
  color: white;
  border: none;
  background-color: rgb(39, 129, 159);
}
button {
  color: rgb(11, 89, 115);
  border: 1px solid rgb(39, 108, 132);
  padding: 10px;
  font-size: 15px;
  background: none;
}

.des > p {
  color: rgb(93, 170, 195);
}
.pic > img {
  height: 30px;
  width: 30px;
}
.pic {
  display: flex;
  align-items: center;
  padding: 13px;
}
